Repository imssyang/python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast-json, check-ast-toml, check-ast-xml, check-ast-yaml, check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-json-pretty-format, fix-python-by-black, fix-python-requirements-txt

.pre-commit-config.yaml:

# https://pre-commit.com
# https://github.com/pre-commit/pre-commit-hooks
# https://github.com/psf/black
#
# Apply to all files without commiting:
#   pre-commit run --all-files
exclude: '^(app|archive|bin|data|envs|include|lib|share)/'
repos:
- repo: local
  hooks:
    - id: check-ast-json
      name: check-ast-json
      entry: check-json
      language: system
      types: [python]
      files: '.*\.json$'
    - id: check-ast-toml
      name: check-ast-toml
      entry: check-toml
      language: system
      types: [python]
      files: '.*\.toml$'
    - id: check-ast-xml
      name: check-ast-xml
      entry: check-xml
      language: system
      types: [python]
      files: '.*\.xml$'
    - id: check-ast-yaml
      name: check-ast-yaml
      entry: check-yaml
      language: system
      types: [python]
      files: '.*\.yaml$'
    - id: check-fs-symlinks
      name: check-fs-symlinks
      entry: check-symlinks
      language: system
      types: [python]
    - id: check-git-merge-conflict
      name: check-git-merge-conflict
      entry: check-merge-conflict
      language: system
      types: [python]
    - id: check-python-ast
      name: check-python-ast
      entry: check-ast
      language: system
      types: [python]
      files: 'sample/.*\.py$'
    - id: check-python-debug-statements
      name: check-python-debug-statements
      entry: debug-statement-hook
      language: system
      types: [python]
      files: 'sample/.*\.py$'
    - id: check_python_by_pylint
      name: check_python_by_pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=n",
          "--score=y"
        ]
      exclude: '.*/(test).*'
      files: 'sample/.*\.py$'
    - id: fix-file-needless-endline
      name: fix-file-needless-endline
      entry: end-of-file-fixer
      language: system
      types: [python]
    - id: fix-file-mixed-line-ending
      name: fix-file-mixed-line-ending
      entry: mixed-line-ending
      language: system
      types: [python]
      args:
        [
          "--fix=auto"
        ]
    - id: fix-file-trailing-whitespace
      name: fix-file-trailing-whitespace
      entry: trailing-whitespace-fixer
      language: system
      types: [python]
    - id: fix-file-utf8-byte-order-marker
      name: fix-file-utf8-byte-order-marker
      entry: fix-byte-order-marker
      language: system
      types: [python]
    - id: fix-json-pretty-format
      name: fix-json-pretty-format
      entry: pretty-format-json
      language: system
      types: [python]
      args:
        [
          "--autofix",
          "--indent 4",
          "--no-ensure-ascii"
        ]
      files: '.*\.json$'
    - id: fix-python-by-black
      name: fix-python-by-black
      entry: black
      language: system
      types: [python]
      files: 'sample/.*\.py$'
    - id: fix-python-requirements-txt
      name: fix-python-requirements-txt
      entry: requirements-txt-fixer
      language: system
      types: [python]
      files: '.*/requirements.*\.txt$'

git: ignore untracked content of pyenv
  .gitmodules
  README.md
Due: none

update setup and env
  README.md
  setup/env.sh
  setup/flask.service
  setup/jupyter-lab.service
  setup/requirements-host.txt
  setup/requirements-jupyter.txt
  setup/requirements.txt
  setup/setup.sh
Due: none

add virtualenv
  setup/virtualenv.ini
Due: none

update python.path of vscode
  .vscode/settings.json
Due: none

add PyTorch
  README.md
Due: none

add tensorflow sample
  .gitignore
  keras/README.md
  sample/ext/tensorflow/single.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add sample about tensorflow
  README.md
  sample/ext/tensorflow/activate_function_graph.py
  sample/ext/tensorflow/backward.py
  sample/ext/tensorflow/backward2.py
  sample/ext/tensorflow/compute_graph.py
  sample/ext/tensorflow/cross_entropy.py
  sample/ext/tensorflow/gradient_descent.py
  sample/ext/tensorflow/np_dot.py
  sample/ext/tensorflow/np_dot_1.py
  sample/ext/tensorflow/shallow_nn.py
  sample/ext/tensorflow/shallow_nn_graph.py
  sample/ext/tensorflow/shallow_nn_matrix.py
  sample/ext/tensorflow/sigmoid.py
  sample/ext/tensorflow/softmax_graph.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add simple_nn for deeplearning
  sample/custom/deeplearning/simple_nn.py
  sample/custom/deeplearning/simple_nn_test.py
  sample/ext/tensorflow/dataset.py
  sample/ext/tensorflow/gradient_checking.py
  sample/ext/tensorflow/gradient_clipping.py
  sample/ext/tensorflow/gradient_loss.py
  sample/ext/tensorflow/gradient_loss2.py
  sample/ext/tensorflow/gradient_loss3.py
  sample/ext/tensorflow/regularization.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add nn_check and nn_regular
  sample/custom/deeplearning/.gitattributes
  sample/custom/deeplearning/datasets/data.mat
  sample/custom/deeplearning/nn.py
  sample/custom/deeplearning/nn_check.py
  sample/custom/deeplearning/nn_regular.py
  sample/custom/deeplearning/test_check.py
  sample/custom/deeplearning/test_init.py
  sample/custom/deeplearning/test_regular.py
  sample/custom/deeplearning/utils.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add nn_optimize
  sample/custom/deeplearning/nn_optimize.py
  sample/custom/deeplearning/test_optimize.py
  sample/custom/deeplearning/utils.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add dataset packages
  sample/custom/deeplearning/.gitattributes
  sample/custom/deeplearning/datasets/__init__.py
  sample/custom/deeplearning/datasets/football.dat
  sample/custom/deeplearning/test_init.py
  sample/custom/deeplearning/test_optimize.py
  sample/custom/deeplearning/test_regular.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update deeplearning and tensorflow
  sample/custom/deeplearning/.gitattributes
  sample/custom/deeplearning/datasets/__init__.py
  sample/custom/deeplearning/datasets/ddd/.ipynb_checkpoints/README-checkpoint.md
  sample/custom/deeplearning/datasets/ddd/README.md
  sample/custom/deeplearning/datasets/ddd/test_catvnoncat.h5
  sample/custom/deeplearning/datasets/ddd/test_signs_1.h5
  sample/custom/deeplearning/datasets/ddd/test_signs_2.h5
  sample/custom/deeplearning/datasets/ddd/test_signs_3.h5
  sample/custom/deeplearning/datasets/ddd/train_catvnoncat.h5
  sample/custom/deeplearning/datasets/ddd/train_signs_1.h5
  sample/custom/deeplearning/datasets/ddd/train_signs_2.h5
  sample/custom/deeplearning/datasets/ddd/train_signs_3.h5
  sample/custom/deeplearning/datasets/sign_hands.png
  sample/custom/deeplearning/datasets/sign_tests.h5
  sample/custom/deeplearning/datasets/sign_trains.h5
  sample/custom/deeplearning/nn_tensorflow.py
  sample/custom/deeplearning/requirements.txt
  sample/custom/deeplearning/test_tensorflow.py
  sample/ext/tensorflow/adam.py
  sample/ext/tensorflow/graph/activate_function_graph.py
  sample/ext/tensorflow/graph/compute_graph.py
  sample/ext/tensorflow/graph/shallow_nn_graph.py
  sample/ext/tensorflow/graph/softmax_graph.py
  sample/ext/tensorflow/softmax_regression.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add LR and nn2 sample of deeplearning
  sample/custom/deeplearning/datasets/__init__.py
  sample/custom/deeplearning/datasets/cat_tests.h5
  sample/custom/deeplearning/datasets/cat_trains.h5
  sample/custom/deeplearning/datasets/ddd/.ipynb_checkpoints/README-checkpoint.md
  sample/custom/deeplearning/datasets/ddd/README.md
  sample/custom/deeplearning/datasets/ddd/test_signs_1.h5
  sample/custom/deeplearning/datasets/ddd/test_signs_2.h5
  sample/custom/deeplearning/datasets/ddd/test_signs_3.h5
  sample/custom/deeplearning/datasets/ddd/train_signs_1.h5
  sample/custom/deeplearning/datasets/ddd/train_signs_2.h5
  sample/custom/deeplearning/datasets/ddd/train_signs_3.h5
  sample/custom/deeplearning/logistic_regression.py
  sample/custom/deeplearning/nn2_onehidden.py
  sample/custom/deeplearning/nn3.py
  sample/custom/deeplearning/nn3_check.py
  sample/custom/deeplearning/nn3_optimize.py
  sample/custom/deeplearning/nn3_regular.py
  sample/custom/deeplearning/nn3_tensorflow.py
  sample/custom/deeplearning/test_logistic_regression.py
  sample/custom/deeplearning/test_nn2_onehidden.py
  sample/custom/deeplearning/test_nn3.py
  sample/custom/deeplearning/test_nn3_check.py
  sample/custom/deeplearning/test_nn3_optimize.py
  sample/custom/deeplearning/test_nn3_regular.py
  sample/custom/deeplearning/test_nn3_tensorflow.py
  sample/custom/deeplearning/test_utils.py
  sample/custom/deeplearning/utils.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update argparse sample
  sample/core/argparse/thingy.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add repr sample
  sample/core/json/dict.py
  sample/core/repr/base.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add cnn tersorflow sample
  sample/custom/deeplearning/cnn.py
  sample/custom/deeplearning/cnn_tensorflow.py
  sample/custom/deeplearning/requirements.txt
  sample/custom/deeplearning/test_cnn.py
  sample/custom/deeplearning/test_cnn_tensorflow.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add cnn keras and happy model
  sample/custom/deeplearning/cnn_keras.py
  sample/custom/deeplearning/cnn_tensorflow.py
  sample/custom/deeplearning/datasets/__init__.py
  sample/custom/deeplearning/datasets/happy_model.png
  sample/custom/deeplearning/datasets/happy_tests.h5
  sample/custom/deeplearning/datasets/happy_trains.h5
  sample/custom/deeplearning/requirements.txt
  sample/custom/deeplearning/test_cnn_keras.py
  sample/custom/deeplearning/test_cnn_tensorflow.py
  sample/custom/deeplearning/test_nn3_tensorflow.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add convolution plot
  sample/ext/matplotlib/convolution.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add conv3d
  sample/ext/matplotlib/c3d.py
  sample/ext/matplotlib/conv2d.py
  sample/ext/matplotlib/conv3d.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update conv3d sample
  sample/ext/matplotlib/conv3d.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add pooling and fullyconn sample
  sample/ext/matplotlib/c3d.py
  sample/ext/matplotlib/fullyconn.py
  sample/ext/matplotlib/pooling.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add pooling and fullyconn sample
  sample/ext/matplotlib/cnn/conv2d.py
  sample/ext/matplotlib/cnn/conv3d.py
  sample/ext/matplotlib/cnn/fullyconn.py
  sample/ext/matplotlib/cnn/pooling.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update deeplearning with resnet
  .gitignore
  sample/custom/deeplearning/cnn_resnet.py
  sample/custom/deeplearning/datasets/cat_iran.jpg
  sample/custom/deeplearning/datasets/happy_face.jpg
  sample/custom/deeplearning/datasets/sign_thumb.jpg
  sample/custom/deeplearning/datasets/sign_two.jpg
  sample/custom/deeplearning/test_cnn_resnet.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add resnet50 and sign test case
  sample/custom/deeplearning/cnn_resnet.py
  sample/custom/deeplearning/datasets/__init__.py
  sample/custom/deeplearning/datasets/resnet50.png
  sample/custom/deeplearning/test_cnn_resnet.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add virtualenvwrap
  .gitignore
  envs/virtualenvwrapper.sh
  sample/custom/deeplearning/yolo/convert.py
  sample/custom/deeplearning/yolo/requirements.txt
  setup/env.sh
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update cnn_yolo
  sample/custom/deeplearning/cnn_yolo/.gitignore
  sample/custom/deeplearning/cnn_yolo/datasets/README.md
  sample/custom/deeplearning/cnn_yolo/datasets/VOC2007_classes.txt
Due: none

update python
  sample/custom/deeplearning/cnn_yolo/.gitignore
  sample/custom/deeplearning/cnn_yolo/convert.py
  sample/custom/deeplearning/cnn_yolo/images/kangaroo.png
  sample/custom/deeplearning/cnn_yolo/images/traffic.jpg
  sample/custom/deeplearning/cnn_yolo/images/zebra.jpg
  sample/custom/deeplearning/cnn_yolo/models/yolov2.png
  sample/custom/deeplearning/cnn_yolo/test.py
  sample/custom/deeplearning/cnn_yolo/train.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add source dir
  sample/custom/deeplearning/cnn_yolo/source/models/darknet19.py
  sample/custom/deeplearning/cnn_yolo/source/models/yolov2.py
  sample/custom/deeplearning/cnn_yolo/source/utils/__init__.py
  sample/custom/deeplearning/cnn_yolo/source/utils/utils.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update cnn_yolo
  sample/custom/deeplearning/cnn_yolo/models/yolov2.png
  sample/custom/deeplearning/cnn_yolo/source/models/yolov2.py
  sample/custom/deeplearning/cnn_yolo/train2.py
  sample/custom/deeplearning/cnn_yolo/yad2k/models/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k/models/darknet19.py
  sample/custom/deeplearning/cnn_yolo/yad2k/models/yolov2.py
  sample/custom/deeplearning/cnn_yolo/yad2k/utils/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k/utils/utils.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/models/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/models/keras_darknet19.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/models/keras_yolo.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/data_sequence.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/utils.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/yolo_loss.py
  sample/custom/deeplearning/cnn_yolo/yolo.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update cnn_yolo
  sample/custom/deeplearning/cnn_yolo/convert.py
  sample/custom/deeplearning/cnn_yolo/models/yolov2.png
  sample/custom/deeplearning/cnn_yolo/test.py
  sample/custom/deeplearning/cnn_yolo/train.py
  sample/custom/deeplearning/cnn_yolo/train2.py
  sample/custom/deeplearning/cnn_yolo/yad2k/models/darknet19.py
  sample/custom/deeplearning/cnn_yolo/yad2k/models/yolov2.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/models/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/models/keras_darknet19.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/models/keras_yolo.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/__init__.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/data_sequence.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/utils.py
  sample/custom/deeplearning/cnn_yolo/yad2k_bak/utils/yolo_loss.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update yad2k
  sample/custom/deeplearning/cnn_yolo/.gitignore
  sample/custom/deeplearning/cnn_yolo/images/road.jpg
  sample/custom/deeplearning/cnn_yolo/images/traffic/giraffe.jpg
  sample/custom/deeplearning/cnn_yolo/test.py
  sample/custom/deeplearning/cnn_yolo/train.py
  sample/custom/deeplearning/cnn_yolo/yad2k/models/yolov2.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update test.py
  sample/custom/deeplearning/cnn_yolo/test.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update train.py in cnn_yolo
  sample/custom/deeplearning/cnn_yolo/train.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update train.py
  sample/custom/deeplearning/cnn_yolo/train.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

update gitignore
  .gitignore
Due: none

add cnn_face
  sample/custom/deeplearning/cnn_face/.gitattributes
  sample/custom/deeplearning/cnn_face/.gitignore
  sample/custom/deeplearning/cnn_face/README.md
  sample/custom/deeplearning/cnn_face/alignment.py
  sample/custom/deeplearning/cnn_face/classifier.py
  sample/custom/deeplearning/cnn_face/datasets/__init__.py
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Eckhart/Aaron_Eckhart_0001.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Guiel/Aaron_Guiel_0001.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Patterson/Aaron_Patterson_0001.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Peirsol/Aaron_Peirsol_0001.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Peirsol/Aaron_Peirsol_0002.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Peirsol/Aaron_Peirsol_0003.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Peirsol/Aaron_Peirsol_0004.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Pena/Aaron_Pena_0001.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Sorkin/Aaron_Sorkin_0001.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/Aaron_Sorkin/Aaron_Sorkin_0002.jpg
  sample/custom/deeplearning/cnn_face/datasets/lfw_subset/pairs_small.txt
  sample/custom/deeplearning/cnn_face/facenet/__init__.py
  sample/custom/deeplearning/cnn_face/facenet/facenet.py
  sample/custom/deeplearning/cnn_face/images/Anthony_Hopkins_0001.jpg
  sample/custom/deeplearning/cnn_face/images/Anthony_Hopkins_0002.jpg
  sample/custom/deeplearning/cnn_face/mtcnn/__init__.py
  sample/custom/deeplearning/cnn_face/mtcnn/caffe1_p.npy
  sample/custom/deeplearning/cnn_face/mtcnn/caffe2_r.npy
  sample/custom/deeplearning/cnn_face/mtcnn/caffe3_o.npy
  sample/custom/deeplearning/cnn_face/mtcnn/face.py
  sample/custom/deeplearning/cnn_face/recognizer.py
  sample/custom/deeplearning/cnn_face/requirements.txt
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add cnn_face
  .vscode/settings.json
  sample/custom/deeplearning/cnn_face/.gitignore
Due: none

update rnn
  sample/custom/deeplearning/rnn.py
  sample/custom/deeplearning/test_rnn.py
Due: check-fs-symlinks, check-git-merge-conflict, check-python-ast, check-python-debug-statements, check_python_by_pylint, fix-file-needless-endline, fix-file-mixed-line-ending, fix-file-trailing-whitespace, fix-file-utf8-byte-order-marker, fix-python-by-black

add dao lot in aws
  sample/aws/IoT/connect_device_package.zip
  sample/aws/IoT/dao-Policy
  sample/aws/IoT/dao.cert.pem
  sample/aws/IoT/dao.private.key
  sample/aws/IoT/dao.public.key
  sample/aws/IoT/root-CA.crt
  sample/aws/IoT/start.sh
Due: none
